.App {
  text-align: center;
  background-color: #FFFAF3;
}

.page-img {
  width: 70%;
}

.Navbar {
  display: flex;
  justify-content: space-between;
  background: #FFFAF3;
  padding: 20px 40px;
}

.Navbar li,
.Navbar a {
  list-style: none;
  text-decoration: none;
  display: inline-block;
  margin: 0px 30px;
  font-size: 1.2rem;
  color: #000000;
}

/* .selected {
  text-shadow: 1px 0px 3px white;
  color: #fff;
  border-bottom: rgba(255, 255, 255, 0.639) solid 2px;
  padding-bottom: 5px;
} */

/* .Navbar.dark {
  background: #000000;
}

.Navbar.light {
  background: #FFFFFF;
} */

.App {
  text-align: center;
  min-height: 100vh;
  max-height: 100%;
}



/* MEU CODIGO
 */

 .custom-card {
  width: 50px;
  height: 100px;
}


/* .cicatriz {
  width: 300px;
  height: auto;
}
 */

/* Container for the entire book details */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 200px;
  max-width: 3000px;
  margin: 0 auto; 
  background: #FFFAF3;
  border-radius: 12px;
  /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
  gap: 20px;
}

/* Flex imagem e texto */
.book-content {
  width: 100px;
  display: flex;
  align-items: center;
  gap: 100px;
  width: 100%;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Styling imagem */
.book-image {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-radius: 10px; */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  margin-top: 30px;
}

/* Detalhes livros */
.details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 1;
  text-align: justify;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.book-title {
  font-size: 4em;
  color: #222;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 800;
    font-style: normal;
    margin-bottom: 5px;
  }
  

.month-book {
  margin-top: 0px;
  color: #3526DE;


}


.button-book-details {
  width: 150px;
  height: 40px;
  margin-top: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 10px; 
  font-size: 14px;
  padding: 0;
  font-family: "Bebas Neue", sans-serif;
}

.button-book-details:hover {
  background-color: #303030;
}


.form-label-details {
  margin-left: 200px;
  font-size: 500px;
}

.month-book {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
  margin-top: 0px;
}

* {
  font-family: "Lato", sans-serif;
}

.botao-review {
  font-family: "Lato", sans-serif;
}

